{% extends "public/base.html" %}
{% block content_title %}
{% load static from staticfiles %}
    <title>Список групп</title>
    <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
  <div id="content">
    <div id="table">
      {% if countColumn > 0 %}
      <button type="button" class="btn btn-info btn-sm" onclick="downloadCSV('#downloadCSV')">Экспорт таблицы в CSV</button>
      <br><br>
      <div id="scroll-table">
        <div class="scroll-table-body">
          <table id="downloadCSV">
            <thead>
            <tr>
              {% for c in column %}
              <th class="capital">{{ c }}</th>
              {% endfor %}
            </tr>

            <tr class="filter-row">
              {% for c in column %}
              <td>
                <input type="text" class="filter size" onkeyup="filterHandler()" id="{{ c }}" />
              </td>
              {% endfor %}
            </tr>

            {% for ext in data %}
            <tr class="data-row">
              {% for includeRes in ext %}
              <td class="column-{{ includeRes.1 }}">
                {{ includeRes.0 }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            </thead>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
   </div>
{% endblock %}
{% block script %}
         <script type="text/javascript" src="/frontend/js/filterHandler.js"></script>
         <script type="text/javascript" src="/frontend/js/table2CSV.js"></script>
         <script type="text/javascript" src="/frontend/js/downloadCSV.js"></script>
{% endblock %}
